.cover {
  position: relative;
  height: 360px;
  background-color: rgb(255, 255, 255);
  width: 20rem;
  border-radius: 12px;
  display: column;
  box-shadow: 10px 13px 47px 3px rgba(200, 188, 214, 0.71);
  -webkit-box-shadow: 10px 13px 47px 3px rgba(214, 205, 197, 0.71);
  -moz-box-shadow: 10px 13px 47px 3px rgba(194, 156, 245, 0.71);
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.foot {
  display: inline-flex;
  width: 18rem;
  height: 130px;
}

.image:hover {
  border-radius: 20%;
  -webkit-border-radius: 20%;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  filter: saturate(180%);
}
