.cover {
  position: relative;
  height: 360px;
  background-color: rgb(255, 255, 255);
  width: 20rem;
  border-radius: 12px;
  display: column;
  box-shadow: 10px 13px 47px 3px rgba(200, 188, 214, 0.71);
  -webkit-box-shadow: 10px 13px 47px 3px rgba(214, 205, 197, 0.71);
  -moz-box-shadow: 10px 13px 47px 3px rgba(194, 156, 245, 0.71);
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  /* background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%); */
}

.title {
  background: rgb(129, 128, 240);
  height: 80px;
  padding: 5px;
  border-radius: 12px 12px 0px 0px;
  margin-bottom: 1rem;
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}

.foot {
  display: inline-flex;
  width: 18rem;
  height: 130px;
}

.diets {
  margin-left: 0.2rem;
  width: 40%;
  height: 125px;
}

.types {
  margin: left 0.5em;
  width: 40%;
  height: 125px;
}

.image:hover {
  border-radius: 20%;
  -webkit-border-radius: 20%;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  filter: saturate(180%);
}

.buton {
  margin-top: 40px;
  bottom: 4 px;
}