*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #796aa138, #685e8538), url(/home/sergio/Documents/HENRY/PI/PI-Food-main/client/src/assets/landp1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.landingPageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  margin: 3rem;
  width: 70vw;
  background-color: var(--secondary-bg-color);
  border-radius: 2rem;
  overflow: hidden;
}

.sectionLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 6rem;
  gap: 2rem;
}

.sectionLeft h1 {
  font-size: 5em;
  text-align: left;
}
.sectionLeft h2 {
  margin-top: 1em;
  font-size: 2em;
}
.sectionLeft p {
  font-size: 1.5em;
  text-align: left;
  text-transform: none;
}
.buttonsContainer a{
  display: inline-block;
  background: #fff;
  padding: 10px 15px;
  border-radius: 40px;
  text-decoration: none;
  color: #626262;
  font-weight: 700;
}

.sectionRight {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.sectionRight img {
  width: 60%;
}
.sectionRight .img1 {
  position: absolute;
  right: -7%;
}
.sectionRight .img2 {
  position: absolute;
  bottom: -50%;
  left: -10%;
}